name: CI-Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 # flake8 adalah linter populer untuk Python
    
    - name: Run linter (Flake8)
      run: |
        # Menghentikan build jika ada error atau warning
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # Hanya keluar dengan non-zero jika ada error
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics